.slider {
  // position: relative;
  height: 650px;
  background-image: var(--gradient), url("./images/hookah/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // background-attachment: fixed;
}

// .slider::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 50px;
//   background: inherit;
//   filter: blur(3px);
//   -webkit-backdrop-filter: blur(10px);
// }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.slide {
  flex-direction: column;
}

.slider-wrapper div {
  position: relative;
}

.slider-wrapper {
  gap: 30px;
  padding-top: 50px;

  @include mq(fab) {
    padding-top: 5vw;
  }
}

.slide-image {
  width: 250px;
  //   height: 24vw;
}

.slide-image img {
  //   width: 24vw;
  cursor: pointer;
}

.slide-content {
  width: 25vw;
  color: #fff;
  padding-top: 30px;
}

.slide-date {
  color: #fd5103;
  font-size: 1.1vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  padding-bottom: 1.4vw;
}

.slide-title {
  font-size: 1.2vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  line-height: 1.55vw;
  padding-bottom: 1.8vw;
}

// .slide-text {
//   font-size: 0.8vw;
//   line-height: 1.2vw;
//   opacity: 0.8;
//   padding-bottom: 4vw;
// }

// .slide-more {
//   font-weight: 400;
//   letter-spacing: 0.1vw;
//   float: left;
//   font-size: 0.9vw;
// }

div.overlay-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: var(--transition);
}

div.overlay-blue:hover {
  background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
  width: 10vw;
  margin-top: 50px;
  margin-left: 50vw;
  position: relative;
}

.arrow {
  display: inline-block;
  position: absolute;
  width: 3.2vw;
  height: 3.2vw;
  background: transparent;
  text-indent: -9999px;
  border-top: 0.15vw solid #fff;
  border-left: 0.15vw solid #fff;
  transition: var(--transition);
  text-decoration: none;
  color: transparent;
}

.arrow:hover {
  // border-color: #fd5103;
  border-color: var(--background-accent);
  border-width: 0.25vw;
}
.arrow:before {
  content: "";
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  transform: rotate(45deg);
}
.arrow.prev {
  transform: rotate(-45deg);
  left: 0;
}
.arrow.next {
  transform: rotate(135deg);
  right: 0;
}
